extends navigation

block navigation
	.container
		.row.index-style
			.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
				.jumbotron
					h1.display-3= title
					.well
						a(href="/categories") Click Here to Begin