doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(Src="/js/jquery-3.1.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/script.js")
	body
		header
			block navigation