extends layout

block navigation
	nav.navbar.navbar-inverse
		.container
			.navbar-header
				a(href="/").navbar-brand Flipkart API Demo
			ul.nav.navbar-nav.navbar-right
				li(id="CategoryFeeds")
					a(href="/categories") Category Feed
				li(id="TodaysDeals")
					a(href="/categories/deals") Today's Deals
				li
					form.navbar-form.navbar-right(method="POST" action="/categories/products/search")
						.input-group
							input(type="text" placeholder="Search" name="keyword").form-control
							.input-group-btn
								button(type="submit").btn.btn-default
									i.glyphicon.glyphicon-search
	block content