extends layout

block content
	.container
		.jumbotron.text-center
			h3.display-4 Search For The Product
				.form.form-horizontal
					.form-group
						input(type="text" name="searchKeyword" placeholder="Search Product").form-control
					button(type="submit").btn.btn-primary Search