/*
	for categories Page
*/
.mycategories
{
	word-wrap: break-word;
	text-transform: capitalize;
}
.mycategories > .well:hover
{
	background-color: rgba(66,139,202,0.1);
	color:rgb(25,25,25);
}

/*
	for Products Page
*/
.mythumbnail
{
	height: 32em;
}
.mythumbnail:hover
{
	border:1px solid rgba(0,0,0,0.8);
}
.myimgContainer
{
	height: 12em;
	overflow: hidden;
}
.myimg
{
	vertical-align: middle;
}

.info-section
{
	height: 16em;
	vertical-align: middle;
	text-align: center;
	margin:0;
	background-color: rgba(0,0,0,0.5);
}
.title-section
{
	height:6em;
	background-color: rgba(255,255,255,0.5);
}

a:hover,.anchor-section
{
	text-decoration: none;
}

.index-style
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
	width:75%;
	height: 50%;
}

/* Deals */
.myDealThumbnail
{
	height:20em;
}
.myDealThumbnail:hover
{
	border:1px solid rgba(0,0,0,0.8);
}
.deals-info-section
{
	height: 4em;
	vertical-align: middle;
	text-align: center;
	margin:0;
	background-color: rgba(0,0,0,0.2);
}